<nav class="navbar navbar-default">
    <div class="bluebar" style="line-height:40px">
        <img src="../../assets/logo.png" width="80px">
        <h2>QUOTEBOOK</h2>

    </div>
</nav>
<div class="container">

    <!-- <h3>hello worlds</h3> -->
    <div class="col-md-8" class="float-d">
        <div *ngFor="let quotes of quotes; let i = 'index'" class="quote-details">
            <div id="quotes">
                <div class="col-md-6">{{quotes.publisher}} posted on {{quotes.completeDate|dateCount}}</div>
                <app-quotes-detail [quotes]='quotes' (isComplete)='deleteQuote($event,i)'>

                </app-quotes-detail>
                <i class="fas fa-trash" (click)='deleteQuotes(true)'></i>

            </div>
        </div>
    </div>
    <app-quotes-forms (addQuotes)=" addNewQuote($event) " class="col-12 "></app-quotes-forms>
</div>