    .quote-author {
        font-weight: bold;
        font-style: italic;
        font-size: 20px;
    }
    
    i {
        font-weight: bold;
        padding: 5px;
        cursor: pointer;
    }
    
    .dislike {
        color: red;
    }
    
    .like {
        color: blue;
    }